.galleryImageList {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.galleryImageList::-webkit-scrollbar {
  display: none;
}

.galleryImg {
  object-fit: scale-down !important;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--dark-brown);
}
