.iconDown {
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.menuLink {
  text-decoration: none;
}

.prices-menu-link {
  justify-content: center !important;
}
