.welcomePageWrapper {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;
  /* background-color: var(--white); */
  padding-bottom: 40px;
}

/* .carouselContainer {
  width: 60%;
} */
/* .menuWrapper {
  position: absolute;
  left: 0;
  top: 0;
} */

.headerContainer {
  text-align: center;
}
.header {
  font-size: xxx-large;
}

.cardContainer {
  margin-top: 20px;
}
