.welcomePageWrapper {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.carouselContainer {
  width: 60%;
}

.headerContainer {
  text-align: center;
}
.header {
  font-size: xxx-large;
}

.cardContainer {
  margin-top: 20px;
}

.aboutMe {
  width: 60%;
  padding: 3em;
  margin-top: 10px;
}
