.welcomePageWrapper {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.carouselContainer {
    width: 60%;
}

.headerContainer {
    text-align: center;
  }
  .header {
    font-size: xxx-large;
  }
  
  .cardContainer {
    margin-top: 20px;
  }