:root {
  /* shaylah's picks */
  --mood: #e6d4c6;
  --earth: #af7a60;
  --olive-green: #5f5c27;
  --pale-green: #86835b;
  --peach: #f19c5b;
  --rose-gold: #d6bdbd;
  --white: #eae1e2;
  --dark-brown: #3a180e;
  --powder-blue: #cdd2d7;
}

body {
  background-color: var(--white);
}

.layoutWrapper {
  display: flex;
}

.menuWrapper {
  padding: 0 10px 0 10px;
  min-width: 15vw;
}

.pageWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mossCodeLogo {
  color: #df6919;
  font-family: Odibee Sans, cursive;
}
